allure-results/8e2fd300-4e56-4e8c-84a5-e59daffb20cc-testsuite.xml
allure-results/bd5e1bb6-2eac-4148-97c1-dc760bd84bdb-testsuite.xml
allure-results/c932548a-5739-4a33-adc3-687017543e82-testsuite.xml
screenshots/
target/
allure-results/

